# Windows image file caches.
Thumbs.db
ehthumbs.db

# Folder config file.
Desktop.ini

# Twine story builds.
/build/
story.html
index.html

# Working directory.
/working/

# Festival builds.
/festival builds/

# Standalone build.
/standalone build/content/windows/nwjs-v0.34.1-win-x64/*